{% extends "layout.html" %}

{% block content %}
    <!-- Content -->
    <div class="blog">
        
        <div class="container">
            <div class="pt-3">
                <div class="image pt-5 text-end">
                    <img src="/media/{{ student.img }}" alt="profile" style="width: 100px; height: 100px;">
                </div>
                <div class="row pt-1">
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">First Name</p>
                        <input type="text" class="form-control" value="{{ student.fname}}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Middle Name</p>
                        <input type="text" class="form-control" value="{{ student.mname}}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Last Name</p>
                        <input type="text" class="form-control" value="{{ student.lname}}">
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Gender</p>
                        <input type="text" class="form-control" value="{{ student.gender}}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Email</p>
                        <input type="email" class="form-control" value="{{ student.email}}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Phone Number</p>
                        <input type="text" class="form-control" value="{{ student.phone}}">
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-6">
                        <p class="fw-bold text-info fs-5  mb-0">Address</p>
                        <!-- <input type="text" class="form-control" value="Lalit"> -->
                        <textarea class="form-control" rows="2" placeholder="Address">{{student.address}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <p class="fw-bold text-info fs-5  mb-0">City</p>
                        <input type="text" class="form-control" value="{{ student.city }}">
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Courses</p>
                        <input type="text" class="form-control" value="{{ student.courses }}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Fees</p>
                        <input type="text" class="form-control" value="{{ student.amount }}">
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold text-info fs-5  mb-0">Date of Admision</p>
                        <input type="text" class="form-control" value="{{ student.date }}">
                    </div>
                </div>

            </div>
            
        </div>

        <div class="container pt-5 pb-5">
            <div class="row dropdown mt-5 bg-white rounded">
                <div class="col-md-12">
                    <div class="title">
                        <p class="fw-bold text-primary text-center fs-3 pt-4 mb-0">
                            Payment Details
                        </p>
                        <div class="table-responsive px-5 py-3">
                            {% if fees %}
                            <table class="table">
                                <thead class="table-dark text-white">
                                    <tr>
                                        <th scope="col">Sr. No</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Take By Amount</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment Mode</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for fee in fees %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{fee.date}}</td>
                                            <td>{{fee.take_by}}</td>
                                            <td>{{fee.fees}}</td>
                                            <td>{{fee.payment_method}}</td>
                                        </tr>
                                    {% endfor %}  
                                </tbody>
                            </table>
                            {% else %}
                            <h3 class="">No Payment Details</h3>
                            {% endif %}
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        
        </div>

        <div class="container pb-5">
            <div class="row dropdown mt-5 bg-white rounded">
                <div class="col-md-12">
                    <div class="title">
                        <p class="fw-bold text-primary text-center fs-3 pt-4 mb-0">
                           Attendentce Details
                        </p>
                        <div class="table-responsive px-5 py-3">
                            {% if attendents %}
                            <table class="table">
                                <thead class="table-dark text-white">
                                    <tr>
                                        <th scope="col">S.No</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for attendent in attendents %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{attendent.date}}</td>
                                        {% if attendent.status == 'Present' %}
                                            <td class=""><span class="badge bg-success">Present</span></td>
                                        {% else %}
                                            <td class=""><span class="badge bg-danger">Absent</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                       
                                </tbody>
                            </table>
                            {% else %}
                            <h3 class="">No Attendance Details</h3>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}